.App {
  text-align: center;
}
.a-container {
  width: 260px;
  height: 350px;
  border: 1px solid #cc4855;
  float: left;
  margin-right: 40px;
}
.a-container .header {
  height: 40px;
  line-height: 40px;
  background-color: #cc4855;
  color: #fff;
  padding: 0 15px;
  box-sizing: border-box;
}
.a-container .content {
  height: 310px;
}
.a-container .header div {
  display: inline-block;
}
.a-container .header div:first-of-type {
  float: left;
}
.a-container .header div:last-of-type {
  float: right;
}
